spring:
  application:
    name: recruit

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/recruit?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8}
    username: ${DB_USERNAME:recruit}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8081

jwt:
  # Must be set in every environment; never use a shared default signing key.
  secret: ${JWT_SECRET}

mybatis-plus:

    type-aliases-package: org.example.recruit.entity

    configuration:

      map-underscore-to-camel-case: true

      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl






