<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.recruit.mapper.AdminMapper">
    
    <!-- 根据用户名查询管理员 -->
    <select id="getAdminByUsername" parameterType="java.lang.String" resultType="org.example.recruit.entity.Admin">
        SELECT id, username, password
        FROM admin
        WHERE username = #{username}
    </select>

</mapper>